html, body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: black;
}

/* убирает любые скроллы и зазоры */
* {
    box-sizing: border-box;
}

/* SLIDESHOW */
#slideshow {
    position: fixed;
    inset: 0; /* вместо top/left/width/height */
    width: 100vw;
    height: 100vh;
}

.slide {
    position: absolute;
    inset: 0;
    width: 100vw;
    height: 100vh;

    object-fit: cover;
    object-position: center;

    opacity: 0;
    transition: opacity 0.8s ease-in-out;
}

.slide.active {
    opacity: 1;
}
audio {
    display: none;
}

/* убивает любые контролы браузера */
::-webkit-media-controls {
    display: none !important;
}

::-webkit-media-controls-panel {
    display: none !important;
}
